* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgColor {
  background-color: #FFC300;
  min-width: 100vw;
  min-height: 100vh;
}

.bgColormodal {
  background-color: #FFC300 !important; 
}

.image-radius {
  border-radius: 45px;
  height: 10%;
}

.divider {
  border-left: 2px solid black;
  height: 550px;
  margin-top: 100%;
  left: 50%;
  align-items: center;
}

.left-title {
  margin-top: 25%;
  text-align: center;
  font-style: italic;
}

.right-title {
  margin-top: 25%;
  text-align: center;
  font-style: italic;
}

.btn-title {
  font-size: 25px;
  font-style: italic;
}

.btn-format {
  font-size: 25px;
  font-style: italic;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.btn2-format {
  font-size: 25px;
  font-style: italic;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.custom-height {
  max-height: 400px;
}

.small-btn-format {
  font-size: 25px;
  font-style: italic;
  width: 135px;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.text-bold {
  font-weight: Bold;
  font-style: italic;
  color:#901d1c
}

.border-radius {
  border-radius: 45px;
}

.italic {
  font-style: italic;
}

.Mobile-Title-format {
  font-size: 45px;
  font-style: italic;
  text-align: center;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

.border-box {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.text-task{
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #901d1c;
  
} 

.failedEdit {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  animation-timing-function: ease
}

.text-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-task span {
  margin-right: 5px;
}

.edit-icon,
.trash-icon {
  margin-left: 12px;
}

.ty{
  color: #FFC300 !important;
  stroke: #FFC300 !important;
}

.navbar-toggler{
  border: 1px solid #FFC300 !important;
}

navbar-toggler-icon{
  stroke: #FFC300 !important;
  color: #FFC300 !important;
  background-color: red !important;
}

:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='yellow ' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}





@keyframes shake {
  0% {
      transform: translateX(2px);
  } 25% {
      transform: translateX(-4px);
  } 50% {
    transform: translateX(4px);
  } 75% {
  transform: translateX(-4px);
  } 100% {
    transform: translateX(2px);
  }
}
