* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgColor {
  background-color: #FFC300;
  min-width: 100vw;
  min-height: 100vh;
}

.image-radius {
  border-radius: 45px;
  height: 10%;
}

.divider {
  border-left: 2px solid black;
  height: 550px;
  margin-top: 100%;
  left: 50%;
  align-items: center;
}

.left-title {
  margin-top: 25%;
  text-align: center;
  font-style: italic;
}

.right-title {
  margin-top: 25%;
  text-align: center;
  font-style: italic;
}

.btn-title {
  font-size: 25px;
  font-style: italic;
}

.btn-format {
  font-size: 25px;
  font-style: italic;
  width: 55%;  
  background-color: black;
  color: white;
  border-radius: 15px;  
}

.btn2-format {
  font-size: 25px;
  font-style: italic;
  width: 60%;  
  background-color: black;
  color: white;
  border-radius: 15px;  
}

.custom-height {
  max-height: 400px;
}

.small-btn-format {
  font-size: 25px;
  font-style: italic;
  width: 135px;
  background-color: black;
  color: white;
  border-radius: 15px;  
}

.text-bold {
  font-weight: Bold;
  font-style: italic;
}

.border-radius {
  border-radius: 45px;
}

.italic{
  font-style: italic;
}

.Mobile-Title-format{
  font-size: 45px;
  font-style: italic;
  text-align: center;
}
